.sidebar-sharing{
  margin: 30px auto;

}

.sidebar-sharing h4 {
  color: #fff;
  text-align: center;
}


.save button {
  margin: 10px auto;
  width: 150px;
  height: 30px;
  background: #DEDEDE;
  color: #000;
  border-radius: 6px;
  display: block;
  letter-spacing: 1px;
  box-shadow: 1px 1px 1px #000;
}

.save button:hover {
  color: #404040 ;
  width: 158px;
  font-weight: 600;
  letter-spacing: 2px;
  box-shadow: 2px 2px 2px #000;
  transition: all 0.3s ease 0s;
}